/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
    overflow: hidden;
    cursor: pointer;
}

canvas{
    cursor: pointer;
}

.spinner{
	position: relative;
	width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: loader-rotate 1s ease-in-out infinite;
    margin: 20px;
}

.spinner:after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -5px;
}

@keyframes loader-rotate{
	
	0% {
	    transform: rotate(0);
	}

	100% {
	    transform: rotate(360deg);
	}
	
}


body{
	font-family: 'David Libre', serif;
	color: #FFFFFF;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.noise-canvas{
    opacity: 0.05;
}

.content{
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 2;

	h2{
		margin-bottom: 10px;
		font-size: 24px;
	}

	p{
		margin: 0;
		font-size: 12px;
	}

	.back{
		margin-top: 30px;
		font-size: 12px;
		opacity: 0;
		display: inline-block;
	}
}

a{
	color: #FFFFFF;
	transition: 0.2s;
	&:hover{
		color: #6f6f6f;
	}
}

.loader{
	position: absolute;
	bottom: 0px;
	left: 0px;
	top: 0px;
	right: 0;
	background-color: #000000;
	z-index: 10;

	&-content{
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	h1, .spinner-container{
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
	}

	p{
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		font-size: 12px;
		padding-top: 50px;
	}
}
