<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta property="og:description" content="" />
        <meta property="og:image" name="thumb" content=""/>
        <meta property="og:title" content=""/>
        <meta property="og:type" content="" />
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta name="description" content=""/>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image:src" content="">

        <title>Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <canvas class="canvas"></canvas>
        <!-- <canvas class="noise-canvas"></canvas> -->
        <script type="text/javascript" src="<%= scriptURL %>scripts/vendors/dat.min.js"></script>
        <script src="<%= scriptURL %>scripts/app.js"></script>
    </body>
</html>
